body {
    text-align: center;
}

h1 {
    margin: 10px;
}

h2 {
    font-size: large;
    margin-bottom: 25px;
}

button {
    border: none;
    padding: 10px;
    color: aliceblue;
    font-weight: bold;
    width: 200px;
    margin-bottom: 5px;
    border-radius: 5px;
}

#increment-btn {
    background: darkgreen;
}